// ? @@@@@@@@@@@@@@@@@@@@@@[  Onboarding start  ]@@@@@@@@@@@@@@@@@@@@@@
[data-page-name=onboarding] {
    @include media-breakpoint(basic) {
        & .pagePadding {
            padding: 0px 13px;
            & .onboardingcarousel {
                & .item {

                    & .onboarding {
                        & .onboardingImg {
                            width: 335px;
                            height: 243px;
                            margin: auto;
                            & img {
                                aspect-ratio: 10/10;
                                object-fit: contain;
                            }
                        }
                        & .onboardingTextPara {
                            padding-top: 46px;
                            padding-bottom: 59px;
                            font-family: 'Outfit';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 23px;
                            text-align: center;
                            color: lighten($black, 7.5);
                        }
                    }
                }
                & .owl-nav {
                    display: none;
                }
                & .owl-dots {
                    display: block !important;
                    text-align: center;
                    justify-content: center;
                    & .owl-dot {
                        background-color: $gray-300;
                        width: 41px;
                        height: 5px;    
                        border-radius: 4px;
                        margin-left: 13px;
                        &.active {
                            background-color: $theme1;
                        }
                        &:last-child {
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {}

    @include media-breakpoint-down(xl) {}

    @include media-breakpoint-down(lg) {}

    @include media-breakpoint-down(md) {}

    @include media-breakpoint-down(sm) {}
}

[data-bs-theme=dark] {
    & [data-page-name=signin] {
        @include dark-media-breakpoint(basic) {
            
        }

        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  Onboarding End  ]@@@@@@@@@@@@@@@@@@@@@@


// ? ###########################  OTP start #########################
[data-page-name=otp] {
    @include media-breakpoint(basic) {
        & .headerAroow {
            width: 24px;
            height: 24px;
            & img {
                aspect-ratio: 10/10;
                object-fit: cover;
            }
        }

        & .mainContent {
            padding: 100px 18px 0px 18px;
            & .otpHeading {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
                text-align: center;
                color: lighten($black, 7.5);
                max-width: 259px;
                width: 100%;
                margin: auto;
            }
            & .otpInput {
                padding-top: 22px;
                max-width: 274px;
                width: 100%;
                margin: auto;
                justify-content: center;
                // display: flex;
                & .otpInputBox {
                    padding: 0px 2px;
                    & input {
                        text-align: center;
                        width: 46px;
                    }
                }
                & .timeRemaining {
                    padding-top: 28px;
                    & .timeDuration {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 18px;
                        color: $black(lighten, 0.7);
    
                        & span {
                            color: $theme1;
                        }
                    }
                    & .otpTimeSend {
                        font-weight: 500;
                        font-size: 14px;
                        color: $black(lighten, 0.7);
                        line-height: 18px;
                    }
                }
            }
            

            & .formBtn {
                padding-top: 55px;
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {}

    @include media-breakpoint-down(xl) {}

    @include media-breakpoint-down(lg) {}

    @include media-breakpoint-down(md) {}

    @include media-breakpoint-down(sm) {}
}
// ! ###########################  OTP End #########################


